.lang {
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://github-readme-stats.vercel.app/api/top-langs/?username=Myxogastria0808&layout=compact&theme=transparent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}